In [4]:
import pandas as pd
from pathlib import Path

# Read weather data
weather_data = Path('20172022precipitation.csv')
weather_df = pd.read_csv(weather_data)
weather_df = weather_df.rename(columns={'Name': 'COC_NAME', 'Value': 'WeatherAverage'})
weather_df['COC_NAME'] = weather_df['COC_NAME'].str.replace(' County', '')
weather_df = weather_df[['COC_NAME', 'WeatherAverage', 'Year']]
weather_df = weather_df.set_index('COC_NAME')
weather_df

           WeatherAverage  Year
COC_NAME
Alameda             24.97  2017
Alpine              64.24  2017
Amador              55.94  2017
Butte               56.41  2017
Calaveras           51.55  2017
...                   ...   ...
Tulare              12.31  2022
Tuolumne            29.48  2022
Ventura              9.95  2022
Yolo                11.49  2022
Yuba                23.37  2022

[348 rows x 2 columns]

/var/folders/yv/0ytq2z913n1bk1y0rnsc187m0000gn/T/ipykernel_17984/2295640561.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_age_df['EXPERIENCING_HOMELESSNESS_CNT'] = clean_age_df['EXPERIENCING_HOMELESSNESS_CNT'].astype(int)