In [34]:
#importing modules
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import numpy as np

In [43]:
#setting file path to read
voc_path = Path("Resources/voc_rehab.csv")
homeless_path = Path("Resources/experiencing_homelessness-gender_demographics.csv")
success_path = Path('Resources/successful_closures.csv')
coc_county_path = Path('Resources/County-CoC Mapping.csv')

# Read with Pandas
vocation_df = pd.read_csv(voc_path)
vocation_df.head()

,Year,County,Sex,Number of Consumers,Annotation Code,Count Annotation Desc,Percent,Percent Annotation Desc
0,2014,Alameda,Not Reported,4,NaN,NaN,NaN,NaN
1,2014,Alameda,Female,"2,356",NaN,NaN,NaN,NaN
2,2014,Alameda,Male,"2,391",NaN,NaN,NaN,NaN
3,2014,Alpine,Female,NaN,1.00,Cell suppressed for small number. A score over...,1.00,This value represents less than or equal to 1 ...
4,2014,Amador,Female,NaN,1.00,Cell suppressed for small number. A score over...,1.00,This value represents less than or equal to 1 ...

In [36]:
#shows what columns to determine relevance for vocational data
vocation_df.columns

Index(['Year', 'County', 'Sex', 'Number of Consumers', 'Annotation Code',
       'Count Annotation Desc', 'Percent', 'Percent Annotation Desc'],
      dtype='object')

In [37]:
#removing irrelevant columns
del vocation_df["Annotation Code"]
del vocation_df["Count Annotation Desc"]
del vocation_df["Percent"]
del vocation_df["Percent Annotation Desc"]
del vocation_df["Sex"]

#removing commas from numerical data
vocation_df = vocation_df.replace(',', '', regex=True)
vocation_df.head()

   Year   County Number of Consumers
0  2014  Alameda                   4
1  2014  Alameda                2356
2  2014  Alameda                2391
3  2014   Alpine                 NaN
4  2014   Amador                 NaN

In [38]:
#filling na values w/0
vocation_df = vocation_df.fillna(0)

#reducing data to year 2017
vocation_df = vocation_df.loc[vocation_df['Year'] == 2017, :]

#filtering data by year
vocation_df = vocation_df.set_index('Year')

#changing 'number of consumers' to type int
vocation_df = vocation_df.astype({'Number of Consumers': int})

vocation_df.head()

       County  Number of Consumers
Year
2017  Alameda                 1879
2017  Alameda                 2145
2017  Alameda                    2
2017   Alpine                    0
2017   Alpine                    0

In [39]:
#adding together total number of consumers per coutny per year
vocation_df = vocation_df.groupby(['Year', 'County'])['Number of Consumers'].sum().reset_index()
vocation_df

    Year           County  Number of Consumers
0   2017          Alameda                 4026
1   2017           Alpine                    0
2   2017           Amador                   33
3   2017            Butte                  883
4   2017        Calaveras                   36
5   2017           Colusa                   36
6   2017    Contra Costa                  2682
7   2017        Del Norte                  202
8   2017        El Dorado                  344
9   2017           Fresno                 2544
10  2017            Glenn                  188
11  2017         Humboldt                  639
12  2017         Imperial                 1026
13  2017             Inyo                    0
14  2017             Kern                 1768
15  2017            Kings                  299
16  2017             Lake                  155
17  2017           Lassen                  181
18  2017      Los Angeles                30440
19  2017           Madera                  196
20  2017            Marin                  436
21  2017         Mariposa                   11
22  2017        Mendocino                  587
23  2017           Merced                  846
24  2017            Modoc                   45
25  2017             Mono                    0
26  2017         Monterey                 1081
27  2017             Napa                  471
28  2017           Nevada                  288
29  2017     Not Reported                  336
30  2017           Orange                 6676
31  2017     Out of State                  263
32  2017           Placer                 1200
33  2017           Plumas                   87
34  2017        Riverside                 4442
35  2017       Sacramento                 4247
36  2017       San Benito                  192
37  2017   San Bernardino                 5609
38  2017        San Diego                 8075
39  2017    San Francisco                 2204
40  2017      San Joaquin                 1214
41  2017  San Luis Obispo                  966
42  2017        San Mateo                 1601
43  2017    Santa Barbara                 1908
44  2017      Santa Clara                 2301
45  2017       Santa Cruz                  722
46  2017           Shasta                  619
47  2017           Sierra                    0
48  2017         Siskiyou                  209
49  2017           Solano                 1595
50  2017           Sonoma                 1725
51  2017       Stanislaus                  844
52  2017           Sutter                  163
53  2017           Tehama                  285
54  2017          Trinity                    0
55  2017           Tulare                 1117
56  2017         Tuolumne                   87
57  2017          Ventura                 2878
58  2017             Yolo                  499
59  2017             Yuba                  211

In [40]:
#introducing homeless data
homeless_df = pd.read_csv(homeless_path)
homeless_df

,CALENDAR_YEAR,COC_ID,COC_NAME,GENDER,EXPERIENCING_HOMELESSNESS_CNT
0,2017,All,California,Female,79356
1,2017,All,California,Male,101589
2,2017,All,California,Non-Singular Gender,142
3,2017,All,California,Questioning Gender,*
4,2017,All,California,Transgender,674
...,...,...,...,...,...
1459,2023 Q1,CA-614,San Luis Obispo County CoC,Female,989
1460,2023 Q1,CA-614,San Luis Obispo County CoC,Male,1239
1461,2023 Q1,CA-614,San Luis Obispo County CoC,Non-Singular Gender,*
1462,2023 Q1,CA-614,San Luis Obispo County CoC,Transgender,*
1463,2023 Q1,CA-614,San Luis Obispo County CoC,Unknown,19

In [41]:
#cleaning homeless data
#renaming year column
homeless_df = homeless_df.rename(columns={'CALENDAR_YEAR': 'Year', 'EXPERIENCING_HOMELESSNESS_CNT': 'Homeless_count'})

#removing extra columns
del homeless_df['COC_ID']
del homeless_df['GENDER']

#removing extra parts from names/numbers
homeless_df = homeless_df.replace('CoC', '', regex=True)
homeless_df = homeless_df.replace('Q1', '', regex=True)

#replacing * with 0
homeless_df = homeless_df.loc[homeless_df['Homeless_count']!='*']

#changing types to ints
homeless_df = homeless_df.astype({'Year': int, 'COC_NAME': str, 'Homeless_count': int})

#narrowing time range to match with other data
homeless_df = homeless_df.loc[homeless_df["Year"] < 2018, :]

#grouping together by county
homeless_df = homeless_df.groupby(['Year', 'COC_NAME'])['Homeless_count'].sum().reset_index()

homeless_df

    Year                                           COC_NAME  Homeless_count
0   2017                                    Alameda County             6596
1   2017                       Alpine, Inyo, Mono Counties              161
2   2017    Amador, Calaveras, Mariposa, Tuolumne Counties              383
3   2017                                      Butte County             1270
4   2017                                         California          183228
5   2017                   Colusa, Glenn, Trinity Counties              198
6   2017                               Contra Costa County             4782
7   2017                                  El Dorado County              133
8   2017                           Fresno, Madera Counties             2225
9   2017                     Glendale  (Los Angeles County)             336
10  2017                                   Humboldt County              946
11  2017                                   Imperial County              497
12  2017                                       Kern County             4614
13  2017                            Kings, Tulare Counties             2964
14  2017                                       Lake County               51
15  2017                   Long Beach  (Los Angeles County)            2734
16  2017                                Los Angeles County            56323
17  2017                                      Marin County             1620
18  2017                                  Mendocino County              708
19  2017                                     Merced County              591
20  2017                     Monterey, San Benito Counties             2215
21  2017                                       Napa County              948
22  2017                                     Nevada County              462
23  2017                                     Orange County            10467
24  2017                     Pasadena  (Los Angeles County)            1312
25  2017                                     Placer County             1260
26  2017                                  Riverside County             6641
27  2017                                 Sacramento County            10293
28  2017                             San Bernardino County             8384
29  2017                                  San Diego County            11565
30  2017                                     San Francisco             4368
31  2017                                San Joaquin County             9610
32  2017                            San Luis Obispo County             1705
33  2017                                  San Mateo County             3747
34  2017                              Santa Barbara County             2820
35  2017                                Santa Clara County            10157
36  2017                                 Santa Cruz County             1881
37  2017  Shasta, Siskiyou, Lassen, Plumas, Del Norte, M...             252
38  2017                                     Solano County              997
39  2017                                     Sonoma County             3086
40  2017                                 Stanislaus County             6187
41  2017                                     Tehama County              395
42  2017                                    Ventura County             1926
43  2017                                       Yolo County              515

In [44]:
#intoducing COC to County data
coc_county_df = pd.read_csv(coc_county_path)
coc_county_df

                    County                                  Continuum of Care
0           Alameda County                                 Alameda County CoC
1            Alpine County                    Alpine, Inyo, Mono Counties CoC
2              Inyo County                    Alpine, Inyo, Mono Counties CoC
3              Mono County                    Alpine, Inyo, Mono Counties CoC
4            Amador County  Amador, Calaveras, Mariposa, Tuolumne Counties...
5         Calaveras County  Amador, Calaveras, Mariposa, Tuolumne Counties...
6          Mariposa County  Amador, Calaveras, Mariposa, Tuolumne Counties...
7          Tuolumne County  Amador, Calaveras, Mariposa, Tuolumne Counties...
8             Butte County                                   Butte County CoC
9               California                                         California
10           Colusa County                Colusa, Glenn, Trinity Counties CoC
11            Glenn County                Colusa, Glenn, Trinity Counties CoC
12          Trinity County                Colusa, Glenn, Trinity Counties CoC
13     Contra Costa County                            Contra Costa County CoC
14        El Dorado County                               El Dorado County CoC
15           Fresno County                        Fresno, Madera Counties CoC
16           Madera County                        Fresno, Madera Counties CoC
17         Humboldt County                                Humboldt County CoC
18         Imperial County                                Imperial County CoC
19             Kern County                                    Kern County CoC
20            Kings County                         Kings, Tulare Counties CoC
21           Tulare County                         Kings, Tulare Counties CoC
22             Lake County                                    Lake County CoC
23      Los Angeles County                             Los Angeles County CoC
24            Marin County                                   Marin County CoC
25        Mendocino County                               Mendocino County CoC
26           Merced County                                  Merced County CoC
27         Monterey County                  Monterey, San Benito Counties CoC
28       San Benito County                  Monterey, San Benito Counties CoC
29             Napa County                                    Napa County CoC
30           Nevada County                                  Nevada County CoC
31           Orange County                                  Orange County CoC
32           Placer County                                  Placer County CoC
33        Riverside County                               Riverside County CoC
34       Sacramento County                              Sacramento County CoC
35   San Bernardino County                          San Bernardino County CoC
36        San Diego County                               San Diego County CoC
37           San Francisco                                  San Francisco CoC
38      San Joaquin County                             San Joaquin County CoC
39  San Luis Obispo County                         San Luis Obispo County CoC
40        San Mateo County                               San Mateo County CoC
41    Santa Barbara County                           Santa Barbara County CoC
42      Santa Clara County                             Santa Clara County CoC
43       Santa Cruz County                              Santa Cruz County CoC
44           Shasta County  Shasta, Siskiyou, Lassen, Plumas, Del Norte, M...
45         Siskiyou County  Shasta, Siskiyou, Lassen, Plumas, Del Norte, M...
46           Lassen County  Shasta, Siskiyou, Lassen, Plumas, Del Norte, M...
47           Plumas County  Shasta, Siskiyou, Lassen, Plumas, Del Norte, M...
48        Del Norte County  Shasta, Siskiyou, Lassen, Plumas, Del Norte, M...
49            Modoc County  Shasta, Siskiyou, Lassen, Plumas, Del Norte, M...
50           Sierra County  Shasta, Siskiyou, Lassen, Plumas, Del Norte, M...
51           Solano County                                  Solano County CoC
52           Sonoma County                                  Sonoma County CoC
53       Stanislaus County                              Stanislaus County CoC
54           Tehama County                                  Tehama County CoC
55          Ventura County                                 Ventura County CoC
56             Yolo County                                    Yolo County CoC
57             Yuba County                          Yuba, Sutter Counties CoC
58           Sutter County                          Yuba, Sutter Counties CoC

In [20]:
#introducing successful vocational services
success_df = pd.read_csv(success_path)
success_df

,Year,County,Occupation,Successful Closures,Annotation Code,Count Annotation Desc,Percent,Percent Annotation Desc
0,2014,Alameda,Not Reported,67.0,NaN,NaN,NaN,NaN
1,2014,Alameda,Clerical and Administrative Support,114.0,NaN,NaN,NaN,NaN
2,2014,Alameda,Community and Social Service Occupations,3.0,NaN,NaN,NaN,NaN
3,2014,Alameda,Computer and Mathematical Occupations,5.0,NaN,NaN,NaN,NaN
4,2014,Alameda,"Education, Training, and Library Occupations",4.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
1935,2017,Yuba,"Professional, Paraprofessional and Technical",NaN,1.0,Cell suppressed for small number. A score over...,1.0,This value represents less than or equal to 1 ...
1936,2017,Yuba,Protective Service Occupations,NaN,1.0,Cell suppressed for small number. A score over...,1.0,This value represents less than or equal to 1 ...
1937,2017,Yuba,RSA Special Occupations and Miscellaneous,NaN,1.0,Cell suppressed for small number. A score over...,1.0,This value represents less than or equal to 1 ...
1938,2017,Yuba,Sales and Related Occupations,NaN,1.0,Cell suppressed for small number. A score over...,1.0,This value represents less than or equal to 1 ...
1939,2017,Yuba,Service Occupations,NaN,1.0,Cell suppressed for small number. A score over...,1.0,This value represents less than or equal to 1 ...

In [21]:
#displaying columns to display relevance
success_df.columns

Index(['Year', 'County', 'Occupation', 'Successful Closures',
       'Annotation Code', 'Count Annotation Desc', 'Percent',
       'Percent Annotation Desc'],
      dtype='object')

In [22]:
#removing irrelevant columns
del success_df['Occupation']
del success_df['Annotation Code']
del success_df['Count Annotation Desc']
del success_df['Percent']
del success_df['Percent Annotation Desc']

#replacing na w/ value of 0
success_df = success_df.fillna(0)
success_df

      Year   County  Successful Closures
0     2014  Alameda                 67.0
1     2014  Alameda                114.0
2     2014  Alameda                  3.0
3     2014  Alameda                  5.0
4     2014  Alameda                  4.0
...    ...      ...                  ...
1935  2017     Yuba                  0.0
1936  2017     Yuba                  0.0
1937  2017     Yuba                  0.0
1938  2017     Yuba                  0.0
1939  2017     Yuba                  0.0

[1940 rows x 3 columns]

In [23]:
#reducing data to year 2017
success_df = success_df.loc[success_df["Year"] == 2017 , :]

#adding total number of successful closures per county per year
success_df = success_df.groupby(['Year', 'County'])['Successful Closures'].sum().reset_index()
success_df

    Year           County  Successful Closures
0   2017          Alameda                368.0
1   2017           Amador                  1.0
2   2017            Butte                104.0
3   2017        Calaveras                  0.0
4   2017           Colusa                  0.0
5   2017     Contra Costa                253.0
6   2017        Del Norte                  1.0
7   2017        El Dorado                 33.0
8   2017           Fresno                145.0
9   2017            Glenn                 14.0
10  2017         Humboldt                 74.0
11  2017         Imperial                 50.0
12  2017             Inyo                  0.0
13  2017             Kern                 71.0
14  2017            Kings                 23.0
15  2017             Lake                  1.0
16  2017           Lassen                  2.0
17  2017      Los Angeles               3026.0
18  2017           Madera                 13.0
19  2017            Marin                 60.0
20  2017         Mariposa                  0.0
21  2017        Mendocino                 24.0
22  2017           Merced                 92.0
23  2017            Modoc                  1.0
24  2017             Mono                  0.0
25  2017         Monterey                 87.0
26  2017             Napa                 59.0
27  2017           Nevada                 15.0
28  2017     Not Reported                  1.0
29  2017           Orange               1015.0
30  2017     Out of State                 57.0
31  2017           Placer                113.0
32  2017           Plumas                  1.0
33  2017        Riverside                528.0
34  2017       Sacramento                384.0
35  2017       San Benito                  3.0
36  2017   San Bernardino                621.0
37  2017        San Diego                856.0
38  2017    San Francisco                336.0
39  2017      San Joaquin                 52.0
40  2017  San Luis Obispo                 88.0
41  2017        San Mateo                199.0
42  2017    Santa Barbara                192.0
43  2017      Santa Clara                300.0
44  2017       Santa Cruz                 49.0
45  2017           Shasta                 63.0
46  2017           Sierra                  0.0
47  2017         Siskiyou                  6.0
48  2017           Solano                153.0
49  2017           Sonoma                206.0
50  2017       Stanislaus                 38.0
51  2017           Sutter                  1.0
52  2017           Tehama                 33.0
53  2017           Tulare                 75.0
54  2017         Tuolumne                  0.0
55  2017          Ventura                301.0
56  2017             Yolo                 50.0
57  2017             Yuba                  1.0

In [30]:
#merging together vocational data
merged_vocation_df = pd.merge(vocation_df, success_df, on=['Year', 'County'], how='inner')
merged_vocation_df

    Year           County  Number of Consumers  Successful Closures
0   2017          Alameda                 4026                368.0
1   2017           Amador                   33                  1.0
2   2017            Butte                  883                104.0
3   2017        Calaveras                   36                  0.0
4   2017           Colusa                   36                  0.0
5   2017        Del Norte                  202                  1.0
6   2017        El Dorado                  344                 33.0
7   2017           Fresno                 2544                145.0
8   2017            Glenn                  188                 14.0
9   2017         Humboldt                  639                 74.0
10  2017         Imperial                 1026                 50.0
11  2017             Inyo                    0                  0.0
12  2017             Kern                 1768                 71.0
13  2017            Kings                  299                 23.0
14  2017             Lake                  155                  1.0
15  2017           Lassen                  181                  2.0
16  2017      Los Angeles                30440               3026.0
17  2017           Madera                  196                 13.0
18  2017            Marin                  436                 60.0
19  2017         Mariposa                   11                  0.0
20  2017        Mendocino                  587                 24.0
21  2017           Merced                  846                 92.0
22  2017            Modoc                   45                  1.0
23  2017             Mono                    0                  0.0
24  2017         Monterey                 1081                 87.0
25  2017             Napa                  471                 59.0
26  2017           Nevada                  288                 15.0
27  2017     Not Reported                  336                  1.0
28  2017           Orange                 6676               1015.0
29  2017     Out of State                  263                 57.0
30  2017           Placer                 1200                113.0
31  2017           Plumas                   87                  1.0
32  2017        Riverside                 4442                528.0
33  2017       Sacramento                 4247                384.0
34  2017       San Benito                  192                  3.0
35  2017   San Bernardino                 5609                621.0
36  2017        San Diego                 8075                856.0
37  2017    San Francisco                 2204                336.0
38  2017      San Joaquin                 1214                 52.0
39  2017  San Luis Obispo                  966                 88.0
40  2017        San Mateo                 1601                199.0
41  2017    Santa Barbara                 1908                192.0
42  2017      Santa Clara                 2301                300.0
43  2017       Santa Cruz                  722                 49.0
44  2017           Shasta                  619                 63.0
45  2017           Sierra                    0                  0.0
46  2017         Siskiyou                  209                  6.0
47  2017           Solano                 1595                153.0
48  2017           Sonoma                 1725                206.0
49  2017       Stanislaus                  844                 38.0
50  2017           Sutter                  163                  1.0
51  2017           Tehama                  285                 33.0
52  2017           Tulare                 1117                 75.0
53  2017         Tuolumne                   87                  0.0
54  2017          Ventura                 2878                301.0
55  2017             Yolo                  499                 50.0
56  2017             Yuba                  211                  1.0

In [31]:
#organized data by year by county
merged_vocation_df = merged_vocation_df.set_index(['County'])
merged_vocation_df

                 Year  Number of Consumers  Successful Closures
County
Alameda          2017                 4026                368.0
Amador           2017                   33                  1.0
Butte            2017                  883                104.0
Calaveras        2017                   36                  0.0
Colusa           2017                   36                  0.0
Del Norte        2017                  202                  1.0
El Dorado        2017                  344                 33.0
Fresno           2017                 2544                145.0
Glenn            2017                  188                 14.0
Humboldt         2017                  639                 74.0
Imperial         2017                 1026                 50.0
Inyo             2017                    0                  0.0
Kern             2017                 1768                 71.0
Kings            2017                  299                 23.0
Lake             2017                  155                  1.0
Lassen           2017                  181                  2.0
Los Angeles      2017                30440               3026.0
Madera           2017                  196                 13.0
Marin            2017                  436                 60.0
Mariposa         2017                   11                  0.0
Mendocino        2017                  587                 24.0
Merced           2017                  846                 92.0
Modoc            2017                   45                  1.0
Mono             2017                    0                  0.0
Monterey         2017                 1081                 87.0
Napa             2017                  471                 59.0
Nevada           2017                  288                 15.0
Not Reported     2017                  336                  1.0
Orange           2017                 6676               1015.0
Out of State     2017                  263                 57.0
Placer           2017                 1200                113.0
Plumas           2017                   87                  1.0
Riverside        2017                 4442                528.0
Sacramento       2017                 4247                384.0
San Benito       2017                  192                  3.0
San Bernardino   2017                 5609                621.0
San Diego        2017                 8075                856.0
San Francisco    2017                 2204                336.0
San Joaquin      2017                 1214                 52.0
San Luis Obispo  2017                  966                 88.0
San Mateo        2017                 1601                199.0
Santa Barbara    2017                 1908                192.0
Santa Clara      2017                 2301                300.0
Santa Cruz       2017                  722                 49.0
Shasta           2017                  619                 63.0
Sierra           2017                    0                  0.0
Siskiyou         2017                  209                  6.0
Solano           2017                 1595                153.0
Sonoma           2017                 1725                206.0
Stanislaus       2017                  844                 38.0
Sutter           2017                  163                  1.0
Tehama           2017                  285                 33.0
Tulare           2017                 1117                 75.0
Tuolumne         2017                   87                  0.0
Ventura          2017                 2878                301.0
Yolo             2017                  499                 50.0
Yuba             2017                  211                  1.0

In [32]:
#merging all data frames into one and adjusting formating
master_df = pd.merge(merged_vocation_df, homeless_df, on=['Year', 'County'], how='left')
pd.options.display.float_format = '{:,.2f}'.format
master_df

,Year,Number of Consumers,Successful Closures,COC_NAME,Homeless_count
0,2017,4026,368.00,Alameda County,6596
1,2017,4026,368.00,"Alpine, Inyo, Mono Counties",161
2,2017,4026,368.00,"Amador, Calaveras, Mariposa, Tuolumne Counties",383
3,2017,4026,368.00,Butte County,1270
4,2017,4026,368.00,California,183228
...,...,...,...,...,...
2503,2017,211,1.00,Sonoma County,3086
2504,2017,211,1.00,Stanislaus County,6187
2505,2017,211,1.00,Tehama County,395
2506,2017,211,1.00,Ventura County,1926
2507,2017,211,1.00,Yolo County,515

In [ ]:
#scatter plot for # of consumers and successful closures
master_df.plot(kind= 'scatter',x= 'Successful Closures', y= 'Unemployment', loglog= True)